.DevSection {
    width: 100%;
    /* min-height: 100vh; */
    z-index: 1;
    margin: 3vh 0px;
    padding: 0px 10vw;
    box-sizing: border-box;
    text-shadow: 0.3vw 0.3vw #1e1e1e;
    color: white;
    display: flex;
    flex-direction: column;
}

.DevSection .DevItem {
    width: 100%;
}

.DevSection .DevItem h2 {
    text-align: center;
}

.DevSection .DevItem p {
    margin: 10px 10%;
}
