.TechSection {
    width: 100%;
    /* min-height: 100vh; */
    z-index: 1;
    margin: 3vh 0px;
    padding: 0px 10vw;
    box-sizing: border-box;
    text-shadow: 0.3vw 0.3vw #1e1e1e;
    color: white;
    display: flex;
    flex-direction: column;
}

.TechSection .TechItem {
    display: flex;
    padding: 0px 5%;
    flex-direction: column;
}

.TechItem h2 {
    text-align: center;
}

.TechItem p {
    margin: 10px 10%;
}
