html body {
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
    /* font-size: 60px; */
}

#root {
    width: 100%;
    min-height: 100vh;
    margin: 0px;
    padding: 0px;
}
